.message {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: #eee;
}

.message__info {
  margin-left: 2rem;
}

.message__timestamp {
  color: gray;
  margin-left: 2rem;
  font-size: x-small;
}
