.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 1rem;
}

.chatHeader__hash {
  color: gray;
  font-size: 2.5rem;
  padding: 0.8rem;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: #eee;
}

.chatHeader__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 8px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: #eee;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: gray;
  background-color: inherit;
  border-radius: 3px;
  padding: 3px;
  margin-right: 8px;
  margin-left: 8px;
}

.chatHeader__search > input {
  background-color: inherit;
  color: #eee;
  border: none;
}
